.container--logo {
    margin-top: 10px;
}

.box--logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box--logo h1 {
    font-size: 18px;
    color: #48a632;
    font-weight: bold;
}

.btn {
    margin-top: 20px;
    width: 100%;
}

.box--create-account span {
    padding: 20px 0 20px 0;
    color: #48a632;
    text-align: center;
    position: relative;
    width: 100%;
    display: block;
}

.owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #68cb51;
    margin-right: 20px;
    border-radius: 30px;
}

button.owl-dot.active {
    background-color: #377827;
}

.box--create-account form {
    min-height: 378px;
    position: relative;
    margin: 0 15px;
}

.box--create-account .btn-success {
    position: absolute;
    bottom: 0;
}
