.container--title-page{
    display: none;
}

.container--profile-data {
    margin-top: calc(16px + 64px);
    background-color: #fff;
    box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 100;
    min-height: 400px;
}

.box--user-photo {
    width: 132px;
    height: 132px;
    border-radius: 132px;
    box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, .6);
    border: 1px solid #f1f1f1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-image: url(../img/samuel.jpg);
    margin: 0 auto;
    margin-top: -64px;
}

.box--user-informations-header {
    padding-top: 20px;
}

.container--profile-data strong {
    color: #377827;
}

.box--user-informations-line {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #c3c3c3;
}

.box-button-update-data {
    margin-top: 30px;
}

.box-button-update-data a, .box-button-update-data a button{
    width: 100%;
}